.o_searchview {
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;

    .o_searchview_facet {
        margin:0px 3px 0 2px;
        border-radius: 3px;
        background-color: $o-color-primary;
        min-height: 22px;

        .o_searchview_facet_label {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            font-size:12px;
        }
        .o_facet_values {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size:12px;
            padding-top: 2px;
        }
    }

    .o_searchview_input_container {
        margin-right: 20px;
    }

    .o_searchview_icon {
        top: 8px !important;
        right: 8px !important;
    }

    .o_searchview_input {
        color: white;
        background-color: $o-color-secondary !important;
    }
}

.o-settings-form-view .o_searchview {
    border-right: 1px solid #dee2e6;;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 575.98px) {
    .o_searchview {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #dee2e6;
    }
}

.o_searchview_dropdown_toggler {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.o_searchview_dropdown_toggler[aria-expanded="true"] {
    background-color: $o-color-primary !important;
    i {
        color: white;
    }
}

.o_searchview:focus-within {
    border-bottom: 1px solid #dee2e6 !important;
}

.o_searchview .o_searchview_facet .o_facet_values {
    background-color: white;
    color: black;
}